.App {
  background-color: #00ffcc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Counter-container {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  height: 40em;
  width: 50em;
  align-items: center;
  row-gap: 3em;
  padding-left: 2em;
}

.time {
  font-size: 7em;
}

.buttons {
  justify-content: space-around;
  display: flex;
  width: 100%;
}

button {
  background-color: #00ffcc;
  width: 7em;
  height: 3em;
  font-size: 1em;
  text-transform: uppercase;
}

.details {
  width: 100%;

}